
<div class="header">
    <div class="left__header">
        <a href="https://github.com/FlavioMxx/bootcamp-santander-dio-blog-with-angular" target="_blank">
            <img src="https://avatars.githubusercontent.com/u/87095482?v=4" alt="github-icon">
        </a>
    
        <p class="linkedin"><a href="https://www.linkedin.com/in/flaviomxx/" target="_blank">Linkedin</a></p>
        <p class="hackerrank"><a href="https://www.hackerrank.com/profile/frmilanij" target="_blank">Hackerrank</a></p>
        <p class="dio"><a href="https://www.dio.me/users/frmilanij" target="_blank">DIO</a></p>
        <p class="github"><a href="https://github.com/FlavioMxx" target="_blank">GitHub</a></p>
    </div>

    <div class="right__header">
        <input class="search__bar" type="text" placeholder="Search...">
        
        <a class="signin__button" href="#" >Sign in</a>
        <a class="signup__button" href="#" >Sign up</a>
    </div>

</div>
