
<div class="header">
    <div class="left__header">
        <a href="https://github.com/FlavioMxx/bootcamp-santander-dio-blog-with-angular">
            <img src="../../../../assets/images/wallpaper.jpg" alt="github-icon">
        </a>
    
        <p>Product</p>
        <p>Solutions</p>
        <p>Open Source</p>
        <p>Pricing</p>
    </div>

    <div class="right__header">
        <input class="search__bar" type="text" placeholder="Search...">
        
        <a class="signin__button" href="#" >Sign in</a>
        <a class="signup__button" href="#" >Sign up</a>
    </div>

</div>
