.title {
    padding: 0 10rem;
    height: 10rem;
}

.title > h1 {
    margin: 0;
    font-size: 90px;
    justify-content: center;
    display: flex;
}

.title > hr {
    height: 5px;
    background-color: #000000;
}
